<% if (site.posts.length){ %>
  <div class="col-sm-7 mx-auto col-12 my-md-4 py-md-4 my-3">
    <div class="d-flex align-items-center gap-1">
      <h3 class="h6 mb-0 font-weight-bold"><%= __('🆕 New post:') %></h3>
      <div class="widget">
        <% site.posts.sort('date', -1).limit(1).each(function(post){ %>
          <a href="<%- url_for(post.path) %>" class="text-title"><%= post.title || '(no title)' %></a>
        <% }) %>
      </div>
    </div>
  </div>
<% } %>
