---
title: Design tokens
---

<h2>Color</h2>
<ul>
  <li>
    <div style="width: 100px; height: 100px; background-color: var(--primary);"></div>
    <div style="width: 100px; height: 100px; background-color: var(--dark);"></div>
    <div style="width: 100px; height: 100px; background-color: var(--light);"></div>
  </li>
</ul>
