<div class="d-flex justify-content-center">
    <h2>Books I like</h2>
    <div class="book">
        <div class="frames">
            <img src="/images/book-spritesheet.png" alt="this is a book">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-auto mx-auto">
            <ul class="list-group-horizontal-sm list-group flex-column-reverse">
                <li class="me-4 d-flex flex-column border-bottom border-white">
                    <b>#finished</b>
                    <cite>成為西蒙波娃</cite>
                    <dl>
                        <dt>作者</dt>
                        <dd>Kate Kirkpatrick</dd>
                        <dt>譯者</dt>
                        <dd>張葳</dd>
                    </dl>
                </li>
                <li class="me-4 d-flex flex-column border-bottom border-white">
                    <b>#finished</b>
                    <cite>設計的心理學</cite>
                    <dl>
                        <dt>作者</dt>
                        <dd>Donald A. Norman</dd>
                        <dt>譯者</dt>
                        <dd>陳宜秀</dd>
                    </dl>
                </li>
                <li class="me-4 d-flex flex-column border-bottom border-white">
                    <b>#quit</b>
                    <cite>民主的價碼</cite>
                    <dt>作者</dt>
                    <dd>Julia Cagé</dd>
                    <dt>譯者</dt>
                    <dd>賴盈滿</dd>
                </li>
                <li class="me-4 d-flex flex-column border-bottom border-white">
                    <b>#finished</b>
                    <cite>銀翼殺手</cite>
                    <dt>作者</dt>
                    <dd>Philip K. Dick</dd>
                    <dt>譯者</dt>
                    <dd>祁怡瑋</dd>
                </li>
                <li class="me-4 d-flex flex-column border-bottom border-white">
                    <b>#finished</b>
                    <cite>一人公司</cite>
                    <dt>作者</dt>
                    <dd>Paul Jarvis</dd>
                    <dt>譯者</dt>
                    <dd>劉奕吟</dd>
                </li>
                <li class="me-4 d-flex flex-column border-bottom border-white">
                    <b>#reading</b>
                    <cite>八代灣的神話</cite>
                    <dt>作者</dt>
                    <dd>Syaman Rapongan</dd>
                </li>
                <li class="me-4 d-flex flex-column border-bottom border-white">
                    <b>#reading</b>
                    <cite>「我反對！」不恐龍大法官 R.B.G. 第一手珍貴訪談錄</cite>
                    <dt>作者</dt>
                    <dd>Jeffrey Rosen</dd>
                    <dt>譯者</dt>
                    <dd>朱怡康</dd>
                </li>
                <li class="me-4 d-flex flex-column border-bottom border-white">
                    <b>#reading</b>
                    <cite>Build</cite>
                    <dt>作者</dt>
                    <dd>Tony Fadell</dd>
                </li>
            </ul>
        </div>
    </div>
</div>