<article id="cave" class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h2>紙杯</h2>
      <figure>
        <img class="img-fluid ioLazyload cave" data-lazy="1-Opening.png" alt="有個人在一個橫放的紙杯裡，抱著膝蓋躺著">
      </figure>
      <figure>
        <img class="img-fluid ioLazyload cave" data-lazy="2-Daily-routine.png" alt="這個人改變姿勢為伸直腿躺著">
      </figure>
      <figure>
        <img class="img-fluid ioLazyload cave" data-lazy="3-Hello.png" alt="有時候盤腿坐著看看外面">
      </figure>
      <figure>
        <img class="img-fluid ioLazyload cave" data-lazy="4-Shut-up.png" alt="或是趴下來單手撐著臉看著外面">
      </figure>
      <figure>
        <img class="img-fluid ioLazyload cave" data-lazy="5-Sound-wave.png" alt="趴著回頭看著杯底">
      </figure>
      <figure>
        <img class="img-fluid ioLazyload cave" data-lazy="6-.png" alt="靠著杯底，左手靠近頭部認真在聽的樣子">
      </figure>
      <figure>
        <img class="img-fluid ioLazyload cave" data-lazy="7.png" alt="這個人正在爬出杯子">
      </figure>
      <figure>
        <img class="img-fluid ioLazyload cave" data-lazy="8.png" alt="手抓著杯子邊緣站起身往右看">
      </figure>
      <figure>
        <img class="img-fluid ioLazyload cave" data-lazy="9.png" alt="往左看">
      </figure>
    </div>
  </div>
</article>