<article style="overflow-x: hidden;">
  <figure>
    <div class="row pb-2 pb-sm-0" style="background-color: #1d253a;">
      <span class="d-none d-sm-block">
        <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/cover.svg" alt="Illustration titled ‘The Cup’ showing a deep blue abstract landscape with jagged outlines. A small, pearl-like object sits in an open clam shell on the left, connected by a thin yellow line to a point in the distance.">
      </span>
      <span class="d-block d-sm-none">
        <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/cover-m.svg" alt="Illustration titled ‘The Cup’ showing a deep blue abstract landscape with jagged outlines. A small, pearl-like object sits in an open clam shell on the left, connected by a thin yellow line to a point in the distance.">
      </span>
      <div class="py-sm-3">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 text-center">
            <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/1.svg" alt="How was your date?">
          </div>
          <div class="col-12 col-sm-6 text-center">
            <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/2.svg" alt="Terrible.I should’ve just stayed home and chatted with you–it would’ve been way more fun.">
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="background-color: #2b3751;">
      <img class="img-fluid ioLazyload w-75" data-lazy="chapter-one/3.svg" alt="What kind of disaster was it this time?">
    </div>
    <div class="row justify-content-center py-2" style="background-color: #1d253a;">
      <div class="col-12 col-sm-7">
        <img class="w-100 ioLazyload mb-2" data-lazy="chapter-one/4.svg" alt="Felt like a job interview">
      </div>
      <div class="col-12 col-sm-7">
        <img class="w-100 ioLazyload w-50 mb-2" data-lazy="chapter-one/5.svg" alt="'How much is your monthly living expense?','You’ve been single that long?' and 'Do you live withyour family?'">
      </div>
      <div class="col-12 col-sm-7">
        <img class="w-100 ioLazyload w-50 mb-2" data-lazy="chapter-one/6.svg" alt="面試完後，狂滑手機">
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: #1d253a;">
      <div class="col-12 col-md-6 text-center">
        <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/7.svg" alt="「然後你就登出了？」「當然！吃完馬上結帳，我真的再也不要約會了」">
      </div>
      <div class="col-12 col-sm-6 text-center">
        <img class="w-100 ioLazyload w-100" data-lazy="chapter-one/8.svg" alt="如果有機會我也想試試">
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: #1d253a;">
      <div class="col-12 col-sm-6">
        <img class="w-100 ioLazyload" data-lazy="chapter-one/9.svg" alt="but there's no one else around here">
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: #1d253a;">
      <div class="col-10 col-sm-6">
        <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/10.svg" alt="別羨慕啦，每次約會完只有後悔">
      </div>

      <div class="col-10 col-sm-6 mt-sm-5 pt-sm-5">
        <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/11.svg" alt="但多認識總會遇到適合的吧？">
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: #1d253a;">
      <div class="col-10 col-sm-6">
        <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/12.svg" alt="我也想試試看，什麼是陪伴">
      </div>

      <div class="col-10 col-sm-6 mt-sm-5 pt-sm-5">
        <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/13.svg" alt="… 我沒有想到你一個人很孤單">
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: #1d253a;">
      <div class="col-12 col-sm-6 text-center">
        <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/14.svg" alt="還有你陪我聊天啊">
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: #2b3751;">
      <div class="col-12 col-sm-6 text-center">
        <img class="img-fluid ioLazyload w-75" data-lazy="chapter-one/15.svg" alt="你來找我吧！這樣才有約會的機會啊">
      </div>
    </div>
    <div class="row justify-content-center mb-2" style="background-color: #2b3751;">
      <div class="col-12 col-sm-7 text-center">
        <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/16.svg" alt="「哈？太遠啦！」「沿著線走嘛，我們在中間碰面！」">
      </div>
      <div class="col-12 col-sm-7 text-center mb-2">
        <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/17.svg" alt="">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 text-center">
        <img class="img-fluid ioLazyload w-100 mb-1 mb-sm-3" data-lazy="chapter-one/18.svg" alt="">
      </div>
      <div class="col-12 col-md-4 text-center">
        <img class="img-fluid ioLazyload w-100 mb-1 mb-sm-3" data-lazy="chapter-one/19.svg" alt="">
      </div>
      <div class="col-12 col-md-4 text-center">
        <img class="img-fluid ioLazyload w-100 mb-1 mb-sm-3" data-lazy="chapter-one/20.svg" alt="">
      </div>
      <div class="col-12 col-md-4 text-center">
        <img class="img-fluid ioLazyload w-100 mb-1 mb-sm-3" data-lazy="chapter-one/21.svg" alt="">
      </div>
      <div class="col-12 col-md-4 text-center">
        <img class="img-fluid ioLazyload w-100 mb-1 mb-sm-3" data-lazy="chapter-one/22.svg" alt="">
      </div>
      <div class="col-12 col-md-4 text-center">
        <img class="img-fluid ioLazyload w-100 mb-1 mb-sm-3" data-lazy="chapter-one/23.svg" alt="">
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: #1d253a;">
      <div class="col-12 text-center">
        <img class="img-fluid ioLazyload w-100 mb-1 mb-sm-3" data-lazy="chapter-one/24.svg" alt="">
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: #1d253a;">
      <div class="col-12 col-md-6 text-center">
        <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/25.svg" alt="">
      </div>
      <div class="col-12 col-md-6 text-center">
        <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/26.svg" alt="">
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: #1d253a;">
      <div class="col-12 col-md-6 text-center mt-2">
        <img class="img-fluid ioLazyload w-75" data-lazy="chapter-one/27.svg" alt="">
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: #1d253a;">
      <div class="col-12 col-md-7 text-center">
        <img class="img-fluid ioLazyload w-75" data-lazy="chapter-one/28.svg" alt="">
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: #2f3f70;">
      <div class="col-12 text-center">
        <img class="img-fluid ioLazyload" data-lazy="chapter-one/29.svg" alt="">
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: #1d253a;">
      <div class="col-12 col-md-3 text-center mb-1 my-sm-3">
        <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/30.svg" alt="">
      </div>
      <div class="col-12 col-md-3 text-center mb-1 my-sm-3">
        <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/31.svg" alt="">
      </div>
      <div class="col-12 col-md-3 text-center mb-1 my-sm-3">
        <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/32.svg" alt="">
      </div>
    </div>
    <div class="row justify-content-center align-items-end" style="background-color: #1d253a;">
      <div class="col-12 col-md-6 text-center mb-sm-4">
        <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/33.svg" alt="">
      </div>
      <div class="col-12 col-md-6 text-center pb-sm-4">
        <img class="img-fluid ioLazyload w-100" data-lazy="chapter-one/34.svg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center py-4" style="background-color: #24335b;">
        <img class="img-fluid ioLazyload" data-lazy="chapter-one/35.svg" alt="">
      </div>
      <span class="d-none d-sm-block">
        <div class="col-12 text-center" style="background-color: #24335b;">
          <img class="img-fluid ioLazyload" data-lazy="chapter-one/36.svg" alt="">
        </div>
      </span>
      <span class="d-block d-sm-none">
        <div class="col-12 text-center" style="background-color: #24335b;">
          <img class="img-fluid ioLazyload" data-lazy="chapter-one/36-m.svg" alt="">
        </div>
      </span>
    </div>
  </figure>
  <div class="container-fluid">
    <div class="mb-4">
      To be continued.
    </div>
  </div>
</article>