<main>
  <div class="container-fluid mb-5">
    <%- partial("_partial/intro") %>
  </div>
  <div class="bg-green-o50">
    <div class="container-fluid">
      <h2>作品</h2>
      <div class="row">
        <div class="col-12 col-sm-3 mb-3">
          <section class="bg-light">
            <h4>曬裝備</h4>
            <a class="external-link" href="https://www.showmygear.com" title="曬裝備">showmygear.com</a>
            <p>曬裝備是一個為了方便分享檢查所設計的高山裝備檢查表。</p>
            <img class="img-fluid ioLazyload" data-lazy="images/smg-logo.svg" alt="曬裝備 logo">
          </section>
        </div>
        <div class="col-12 col-sm-3 mb-3">
          <section class="bg-light">
            <h4>ruoshin.wang</h4>
            很榮幸有機會設計前端工程師 Ruoshin 的個人烘培機。
            <img class="img-fluid ioLazyload" data-lazy="/images/project-ruoshin.png" alt="ruoshing.wang">
          </section>
        </div>
        <div class="col-12 col-sm-3 mb-3">
          <section class="bg-light">
            <h4>未來山屋</h4>
            <p>一千年後的火星台灣人回來地球爬山的故事。</p>
            <img class="img-fluid ioLazyload" data-lazy="/images/project-future-hut.jpg" alt="北北峰">
          </section>
        </div>
        <div class="col-12 col-sm-3 mb-3">
          <section class="bg-light">
            <h4>紙杯</h4>
            <p><a title="紙杯" href="/cup">關於出發的小故事。</a></p>
            <img class="img-fluid ioLazyload" data-lazy="images/cave-draft.png"
              alt="用簡單的線條畫的插圖，在兩座山頂上各有一個一紙杯，其中一個紙杯口旁站著一個人，這個人手扶著紙杯邊緣，這個人物的大小跟紙杯差不多，他看著遠方另外一座山頂上的紙杯。這兩個紙杯的底部都有線。">
          </section>
        </div>
        <div class="col-12 col-sm-3 mb-3">
          <section class="bg-light">
            <h4>hellyes.cat</h4>
            <p>關於黑貓的傳說都是真的。</p>
            <img class="img-fluid ioLazyload" data-lazy="/images/project-hellyescat.png" alt="HELLYESCAT">
          </section>
        </div>
        <div class="col-12 col-sm-3 mb-3">
          <section class="bg-light">
            <h4>閱塗筆記</h4>
            <p><a title="閱塗筆記@六合圖書館" href="/readle-note">閱塗筆記@六合圖書館</a></p>
            <img class="img-fluid ioLazyload" data-lazy="images/readler.png" alt="雙手拿著筆笑得很開心的人物，腿交叉站。">
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <section class="my-3">
      <h2>最近閱讀</h2>
      <div class="book">
        <div class="frames">
          <img src="/images/book-spritesheet.png" alt="this is a book">
        </div>
      </div>
      <ul class="list-group-horizontal-sm list-group">
        <li class="me-4">
          <cite>成為西蒙波娃</cite>
          <dl>
            <dt>作者</dt>
            <dd>Kate Kirkpatrick</dd>
            <dt>譯者</dt>
            <dd>張葳</dd>
          </dl>
        </li>
        <li class="me-4">
          <cite>設計的心理學</cite>
          <dl>
            <dt>作者</dt>
            <dd>Donald A. Norman</dd>
            <dt>譯者</dt>
            <dd>陳宜秀</dd>
          </dl>
        </li>
        <li class="me-4">
          <cite>民主的價碼<b>棄讀</b></cite>
          <dt>作者</dt>
          <dd>Julia Cagé</dd>
          <dt>譯者</dt>
          <dd>賴盈滿</dd>
        </li>
        <li class="me-4">
          <cite>銀翼殺手</cite>
          <dt>作者</dt>
          <dd>Philip K. Dick</dd>
          <dt>譯者</dt>
          <dd>祁怡瑋</dd>
        </li>
        <li class="me-4">
          <cite>一人公司</cite>
          <dt>作者</dt>
          <dd>Paul Jarvis</dd>
          <dt>譯者</dt>
          <dd>劉奕吟</dd>
        </li>
      </ul>
    </section>
  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>