<main class="container-fluid">
  <div class="container-fluid mb-5">
    <%- partial("_partial/intro") %>
  </div>
  <div class="container-fluid">
    <div class="row">
      <article class="col-lg-12 col-xl-4 offset-xl-6 pt-2 resume" itemscope itemprop="blog post">

        <div class="container-fluid">
          <div class="row">
            <header class="col-12 mb-4">
              <h1>Wanyu UI/UX Designer</h1>
            </header>
          </div>
          <p>Come back later.</p>
        </div>

      </article>
    </div>
  </div>

</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>