<main class="container-fluid">
  <div class="mb-5">
    <%- partial("_partial/intro") %>
  </div>
  <hr>
  <div class="container-fluid">
    <h3>我最近在做...</h3>
    <article class="row my-5">
      <h4>曬裝備</h4>
      <div class="">
        <img class="img-fluid ioLazyload" data-lazy="images/smg-logo.svg" alt="曬裝備 logo">
      </div>
      <div class="col-12">
        <a class="external-link" href="https://showmygear.com" title="曬裝備">showmygear.com</a>
        <p>
          曬裝備是一個為了方便分享檢查所設計的高山裝備檢查表。
        </p>
      </div>
    </article>
    <hr>
    <section>
      <h4>未來山屋</h4>
      <p>一千年後的火星台灣人回來地球爬山。</p>
      <div id="futurehut" class="position-relative overflow-hidden future-hut">
        <img class="img-fluid position-absolute front hut" style="z-index: -1; top: 0;"
          src="images/tongku-saveq-weather-station.png" alt="">
        <img class="img-fluid position-absolute front trees" style="z-index: -2; top: 0;"
          src="images/tongku-saveq-trees.png" alt="">
        <img class="img-fluid position-absolute front" style="z-index: -4; top: 0;"
          src="images/tongku-saveq-weather-mount-detail.png">
        <img class="img-fluid position-absolute front" style="z-index: -3; top: 0;"
          src="images/tongku-saveq-right-mount.png" alt="">
        <img class="img-fluid position-absolute back" style="z-index: -5; right: 0; opacity: 0.1;"
          src="images/tongku-saveq-faraway-mount.png" alt="">
      </div>
    </section>
    <hr>
    <section>
      <h4>正在閱讀</h4>
      <ol>
        <li>
          <cite>成為西蒙波娃</cite>
          <dl>
            <dt>作者</dt>
            <dd>Kate Kirkpatrick</dd>
            <dt>譯者</dt>
            <dd>張葳</dd>
          </dl>
        </li>
        <li>
          <cite>設計的心理學</cite>
          <dl>
            <dt>作者</dt>
            <dd>Donald A. Norman</dd>
            <dt>譯者</dt>
            <dd>陳宜秀</dd>
          </dl>
        </li>
        <li>
          <cite>民主的價碼</cite>
          <dt>作者</dt>
          <dd>Julia Cagé</dd>
          <dt>譯者</dt>
          <dd>賴盈滿</dd>
        </li>
      </ol>
    </section>
  </div>
</main>
