<main class="container">
  <div class="row">
    <%- partial('_widget/recent_posts') %>
      <div class="col-sm-7 mx-auto col-12">
        <img src="images/smg-1.png" alt="Show My Gear's hiker">
        <div class="fs-6">
          你好，我是張婉瑜，我設計網頁、使用者介面。我在這個網站紀錄設計心得跟一些碎碎念。
          最近在做登山裝備檢查表網站，叫做<a href="https://showmygear.com" target="_blank">曬裝備</a>；沒有在曬裝備的時候我畫<a
            href="https://www.instagram.com/wwwanyu.doodle/" target="_blank">未來山屋</a>，這是我對一千年後台灣的山的想像。
        </div>
      </div>
  </div>

  <footer class="row pb-5">
    <div class="col-sm-7 mx-auto col-12">
      <div class="my-md-4 py-md-4 my-3">
        <h2 class="h6">其他連結</h2>
        <a target="_blank" class="d-block" href="https://twitter.com/wwwanyuchang">Twitter@wwwanyuchang</a>
        <a target="_blank" class="d-block" href="https://www.linkedin.com/in/wwwc/">Linkedin</a>
        GitHub

      </div>
    </div>
  </footer>
</main>
