<main class="container">
  <div class="row">
    <div class="col-sm-7 mx-auto col-12">
      <img src="images/smg-1.png" alt="一個卡通化人物戴著黃色毛帽，背著綠色登山包，穿著咖啡色登山鞋，但沒有穿衣服。">
      <div class="fs-6">
        <p>
          你好，我是張婉瑜，我設計網頁、使用者介面。<br />
          最近在做登山裝備檢查表網站，叫做<a href="https://showmygear.com" target="_blank">曬裝備</a>；沒有在曬裝備的時候我畫<a
            href="https://www.instagram.com/wwwanyu.doodle/" target="_blank">未來山屋</a>，這是我對一千年後台灣的山的想像。<br />
          我在這個網站紀錄設計心得跟一些碎碎念，可以從 <a href="/blog">Blog</a> 點進去看文章列表。<br />最新文章是： <%- partial('_widget/recent_posts') %>。
        </p>
      </div>
    </div>
  </div>

  <footer class="row pb-5">
    <div class="col-sm-7 mx-auto col-12">
      <div class="my-md-4 py-md-4 my-3">
        <h2 class="h6">其他連結</h2>
        <ul>
          <li><a target="_blank" href="https://twitter.com/wwwanyuchang">Twitter@wwwanyuchang</a></li>
          <li><a target="_blank" href="https://www.linkedin.com/in/wwwc/">Linkedin</a></li>
          <li><a target="_blank" href="http://https://github.com/wwwanyu">GitHub/wwwanyu</a></li>
        </ul>
      </div>
    </div>
  </footer>
</main>
