<main class="container-fluid">
  <div class="d-flex justify-content-center mb-5">
    <%- partial('_partial/intro') %>
  </div>
  <hr>
  <div class="container">
    <article class="row my-5">
      <div class="col-12 col-sm-7 offset-sm-5 mb-5">
        <img class="img-fluid ioLazyload" data-lazy="images/smg-logo.svg" alt="曬裝備 logo">
      </div>
      <div class="col-12">
        <h6>2021 Feb - Present</h6>
        <a class="external-link" href="https://showmygear.com">showmygear.com</a>
      </div>
      <div class="col-12 offset-sm-5 col-sm-4 mb-sm-5">
        曬裝備是個為了方便分享所設計的高山裝備檢查表。
      </div>
      <hr>
      <div class="col-12">
        <h4>1. Design system</h4>
      </div>
      <div class="col-12 offset-sm-5 col-sm-4">
        <p>
          目前我們還沒有用像是 storybook 那種工具，那又是另外一個故事了。</p>
        <p>
          我們用 Figma 設計，介面元素與組件以生物學名詞來分類，是採取 Atomic Design 這個本書的建議的。</p>
        <p>前幾天討論實作山友 component，由於不可能等到所有圖示畫完才開發，討論的目的不是我告訴工程師要做什麼樣子，而是圖像跟程式碼之間需要很密切的協調，對我來說很有趣啦！ </p>
      </div>
      <div class="col-12 col-sm-7 offset-sm-5 mb-sm-5">
        <img class="ioLazyload img-fluid my-3" data-lazy="images/smg-design-system.png" alt="曬裝備的 design system">
      </div>
      <hr>
      <div class="col-12">
        <h4>2. 介面</h4>
      </div>
      <div class="col-12 offset-sm-5 col-sm-4">
        <p>我非常喜歡科學跟生物解剖插圖。</p>
      </div>
      <div class="col-12 col-sm-7 offset-sm-5 mb-sm-5">
        <img class="ioLazyload img-fluid my-3" data-lazy="images/smg-ui.png" alt="曬裝備的檢查表介面">
      </div>
      <hr>
      <div class="col-12">
        <h4>3. 協作</h4>
      </div>
      <div class="col-12 offset-sm-5 col-sm-4">
        <p>
          我冒出曬裝備這個念頭後沒多久，前同事 Ruoshin 加入。他看了我破爛的 wireframe 就決定一起來設計曬裝備，即使他自己不只不爬山還完全不運動。
        </p>
      </div>
      <div class="col-12 col-sm-7 offset-sm-5">
        <img class="ioLazyload img-fluid my-3" data-lazy="images/smg-wireframe.png" alt="曬裝備最初版的草圖">
      </div>
      <div class="col-12 offset-sm-5 col-sm-4 mb-sm-5">
        <p>又再隔一陣子 Ruoshin 介紹 Ruby 來寫後端。一開始這只是滋潤心靈為主的 side project，社畜用剩下來的一點點的時間來曬裝備。</p>
        <p>2021 年 10 月時的老闆離職，所以公司倒了，我又再次失業。這次決定給自己六個月時間好好來曬裝備。</p>
        <p>當人員組成變成兩個全職上班族跟一個閒人，這時更能體會非同步討論的重要性。</p>
        <p>不過我還是有時候忍不住用即時訊息騷擾他們啦 XD</p>
      </div>
      <hr>
      <div class="col-12">
        <h4>4. Open source</h4>
      </div>
      <div class="col-12 offset-sm-5 col-sm-4 mb-sm-5">
        <p>前端程式碼在 GitHub，歡迎參觀討論。</p>
      </div>
    </article>
  </div>
</main>
