<main class="container">
  <div class="row">
    <div class="col-sm-7 mx-auto col-12">
      <article class="fs-2">
        <img src="images/litsening.gif" alt="Wanyu's self-portrait, drawing and coding" style="width: 30px;">
        Lí-hó, góa kiò Wanyu,<br />
        góa tī Tâi-pak siat-kè bāng-ia̍h.<br />
        chòe-kīn teh chò chi̍t-ê <img src="images/develop.gif" alt="Wanyu's self-portrait, drawing and coding"
          style="width: 30px;">
        <br />
        kiám-cha peh-soaⁿ chong-pī ê
        liû-lám-khì èng-iōng nńg-thé,
        hō-chò <a href="/tags/show-my-gear/">Pha̍k Chong-Pī</a>.
        <img src="images/smg-1.png" alt="Show My Gear's hiker" style="height: 50px;">

        <div class="fs-6">
          Hi, I'm Wanyu, I'm a web designer based in Taipei.<br />
          Recently working on a hiking gear checklist web app,<br />
          it's called
          <a href="/tags/show-my-gear/">Show My Gear.</a>
        </div>
      </article>
    </div>
  </div>
  <footer class="row pb-5">
    <div class="col-11 mx-auto">
      <div class="my-md-4 py-md-4 my-3">
        <a href="https://twitter.com/wwwanyu">Twitter@wwwanyu</a>
      </div>
    </div>
  </footer>
</main>
