<main>
  <div class="container-fluid mb-5">
    <%- partial("_partial/intro") %>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-xl-4 offset-xl-6 pt-2">
        <h2 class="h4">最近</h2>
        <div class="row">
          <div class="col-12 mb-3">
            <a href="/show-my-gear/" title="曬裝備">
              <section id="introTrigger" class="landing-card p-3 rounded-3">
                <header class="mb-3">
                  <h3 class="h4 mb-0">曬裝備</h3>
                  <small class="text-muted">web app</small>
                </header>
                <img class="img-fluid ioLazyload" data-lazy="images/smg-logo.svg" alt="曬裝備 logo">
              </section>
            </a>
          </div>
          <div class="col-12 mb-3">
            <a href="/ruoshinwang/" title="曬裝備">
              <section class="landing-card p-3 rounded-3">
                <header class="p-1 mb-3">
                  <h3 class="h4 mb-0">ruoshin.wang</h3>
                  <small class="text-muted">web fun.0</small>
                </header>
                <img class="img-fluid ioLazyload" data-lazy="/images/project-ruoshin.png" alt="ruoshing.wang">
              </section>
            </a>
          </div>
          <div class="col-12 mb-3">
            <section class="landing-card p-3 rounded-3">
              <header class="mb-3">
                <h3 class="h5 mb-0">未來山屋</h3>
                <small class="text-muted">illustration</small>
              </header>
              <img class="w-100 ioLazyload" data-lazy="/images/project-future-hut.jpg" alt="北北峰">
            </section>
          </div>
          <div class="col-12 mb-3">
            <a title="紙杯" href="/cup">
              <section class="landing-card p-3 rounded-3">
                <header class="mb-3">
                  <h3 class="h5 mb-0">紙杯</h3>
                  <small class="text-muted">illustration</small>
                </header>
                <img class="img-fluid ioLazyload" data-lazy="images/cave-draft.png"
                  alt="用簡單的線條畫的插圖，在兩座山頂上各有一個一紙杯，其中一個紙杯口旁站著一個人，這個人手扶著紙杯邊緣，這個人物的大小跟紙杯差不多，他看著遠方另外一座山頂上的紙杯。這兩個紙杯的底部都有線。">
              </section>
            </a>
          </div>
          <div class="col-12 mb-3">
            <a title="hellyes.cat" href="/">
              <section class="landing-card p-3 rounded-3 pb-2">
                <header class="mb-3">
                  <h3 class="h5 mb-0">hellyes.cat <small>關於黑貓的傳說都是真的。</small></h3>
                  <small class="text-muted">website</small>
                </header>
                <img class="w-100 mx-auto rotate" src="/images/project-hellyescat.png" alt="HELLYESCAT">
              </section>
            </a>
          </div>
          <div class="col-12 mb-3">
            <a title="閱塗筆記@六合圖書館" href="/readle-note">
              <section class="landing-card p-3 rounded-3">
                <header class="mb-3">
                  <h3 class="h5 mb-0">閱塗筆記 <small>@六合圖書館</small></h3>
                  <small class="text-muted">event</small>
                </header>
                <img class="img-fluid mx-auto d-block ioLazyload" data-lazy="images/readler.png" alt="雙手拿著筆笑得很開心的人物，腿交叉站。">
              </section>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid">
    <section class="my-3">
      <h2>最近閱讀</h2>
      <div class="book">
        <div class="frames">
          <img src="/images/book-spritesheet.png" alt="this is a book">
        </div>
      </div>
      <ul class="list-group-horizontal-sm list-group">
        <li class="me-4">
          <cite>成為西蒙波娃</cite>
          <dl>
            <dt>作者</dt>
            <dd>Kate Kirkpatrick</dd>
            <dt>譯者</dt>
            <dd>張葳</dd>
          </dl>
        </li>
        <li class="me-4">
          <cite>設計的心理學</cite>
          <dl>
            <dt>作者</dt>
            <dd>Donald A. Norman</dd>
            <dt>譯者</dt>
            <dd>陳宜秀</dd>
          </dl>
        </li>
        <li class="me-4">
          <cite>民主的價碼<b>棄讀</b></cite>
          <dt>作者</dt>
          <dd>Julia Cagé</dd>
          <dt>譯者</dt>
          <dd>賴盈滿</dd>
        </li>
        <li class="me-4">
          <cite>銀翼殺手</cite>
          <dt>作者</dt>
          <dd>Philip K. Dick</dd>
          <dt>譯者</dt>
          <dd>祁怡瑋</dd>
        </li>
        <li class="me-4">
          <cite>一人公司</cite>
          <dt>作者</dt>
          <dd>Paul Jarvis</dd>
          <dt>譯者</dt>
          <dd>劉奕吟</dd>
        </li>
      </ul>
    </section>
  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>