<main>
  <div class="container-fluid mb-5">
    <%- partial("_partial/intro") %>
  </div>
  <div class="container-fluid">
    <div class="row">
      <article class="col-lg-12 col-xl-4 offset-xl-6 pt-2 resume" itemscope itemprop="blog post">

        <header class="col-12 mb-4">
          <h1>Wanyu UI/UX Designer</h1>
        </header>

        <div class="row bg-white rounded p-md-5 mb-3">
          <div class="col-sm-6 col-12">
            <h2 class="h4">Night Owl</h2>
            <div>2022 Oct — Present</div>
          </div>
          <div class="overwrite-width col-md-8 offset-md-4">
            <p>
              接手美國外包設計團隊的 UI 概念，與現有操作流程結合設計出可實作的方案。縮短原本預估兩年的開發時程，設計已開始迭代開發中。
            </p>
            <dt class="mt-1">角色</dt>
            <dd>UI Consultant</dd>
            <dt>範疇</dt>
            <dd class="mt-1"><span class="tag px-3 py-1">Design System</span> / <span class="tag px-3 py-1">UI</span> /
              <span class="tag px-3 py-1">Workflow</span>
            </dd>
          </div>
        </div>

        <div class="row bg-white rounded p-md-5 mb-3">
          <div class="col-sm-6 col-12">
            <h2 class="h4">Kuaitshiu</h2>
            <div>2019 — 2021</div>
          </div>
          <div class="overwrite-width col-md-8 offset-md-4">
            <p>
              土木營建專案使用的資訊功能網站。
            </p>
            <dt class="mt-1">角色</dt>
            <dd>Product designer</dd>
            <dt>範疇</dt>
            <dd class="mt-1"><span class="tag px-3 py-1">Branding</span> / <span class="tag px-3 py-1">UI</span> / <span
                class="tag px-3 py-1">Workflow</span></dd>
            <img class="img-fluid ioLazyload rounded" data-lazy="/images/kuaitshiu.png" alt="">
          </div>
          <div class="col-12 align-items-center justify-content-end d-flex gap-2 py-4">
            <a class="primary button"
              href="https://www.behance.net/gallery/162233563/Kuaitshiu-for-civil-engineering-project"
              target="_blank">Kuaitshiu</a>
          </div>

        </div>

        <div class="row bg-white rounded p-md-5 mb-3">
          <div class="col-sm-6 col-12">
            <h2 class="h4">Saviah</h2>
            <div>
              2017 — 2018
            </div>
          </div>
          <div class="overwrite-width col-md-8 offset-md-4">
            <p>
              翻修專為公益團體使用的捐款管理功能網站，並加入新的版型主題功能。<br>
              <dt class="mt-1">角色</dt>
              <dd>Product designer</dd>
              <dt>範疇</dt>
              <dd class="mt-1"><span class="tag px-3 py-1">UI Design</span> / <span
                  class="tag px-3 py-1">Workflow</span></dd>
            </p>
          </div>
          <div class="col-12 align-items-center justify-content-end d-flex gap-2 py-4">
            <a class="primary button" href="https://www.behance.net/gallery/161653869/Silaya-" taget="_blank">Saviah</a>
          </div>
        </div>

        <div class="row bg-white rounded p-md-5 mb-3">
          <div class="col-sm-6 col-12">
            <h2 class="h4">Infocast</h2>
            <div>2016 — 2017</div>
          </div>
          <div class="overwrite-width col-md-8 offset-md-4">
            <p>Elite 是讓內部分析師使用來搜需及紀錄大量的社群平台資料與新聞資料，並進一步至作為報告以 Email 寄出。</p>
            <img class="img-fluid ioLazyload rounded" data-lazy="/images/resume-cover-elite.png" alt="Elite">
            <dt class="mt-1">角色</dt>
            <dd>Designer</dd>
            <dt>範疇</dt>
            <dd class="mt-1"><span class="tag px-3 py-1">Marketing material</span> / <span class="tag px-3 py-1">Email
                Template</span></dd>
          </div>
        </div>

        <div class="row bg-white rounded p-md-5 mb-3">
          <div class="col-sm-6 col-12">
            <h2 class="h4">Pace Design</h2>
            <div>2014 — 2015</div>
          </div>
          <div class="overwrite-width col-md-8 offset-md-4">
            <p>在 Pace 我提案成功的設計有屋馬燒肉跟台中歌劇院。</p>
            <div class="row">
              <div class="col-sm-6 col-12">
                <img class="img-fluid ioLazyload rounded" data-lazy="/images/resume-cover-umai.png" alt="屋馬燒肉">
              </div>
              <div class="col-sm-6 col-12">
                <img class="img-fluid ioLazyload rounded" data-lazy="/images/resume-cover-NTT.png" alt="台中歌劇院">
              </div>
            </div>
            <dt>角色</dt>
            <dd>Web Designer</dd>
            <dt>範疇</dt>
            <dd><span class="tag px-3 py-1">Web design</span> / <span class="tag px-3 py-1">Web front end
                implementation</span></dd>
          </div>
          <div class="col-12 align-items-center justify-content-end d-flex gap-2 pt-4">
            <a class="primary button" href="http://www.pace.com.tw/collection-media.html?id=66" target="_blank">屋馬燒肉</a>
            <a class="primary button" href="http://www.pace.com.tw/collection-media.html?id=64"
              target="_blank">台中歌劇院</a>
          </div>

        </div>

        <div class="row bg-white rounded p-md-5 mb-3">
          <div class="col-12">
            <h2 class="h4">Viro</h2>
            <div>2013 — 2014 </div>
          </div>
          <div class="overwrite-width col-md-8 offset-md-4">
            <p>替以平價寢具起家的床墊工廠想推出提升價值感，所設計的品牌。</p>
            <img class="img-fluid ioLazyload rounded" data-lazy="/images/viro.png" alt="企劃製作產品的形象影片，拍攝過程把貨車差點開到田裡。">
            <dt>角色</dt>
            <dd>Designer</dd>
            <dt>範疇</dt>
            <dd><span class="tag px-3 py-1">Branding</span> / <span class="tag px-3 py-1">Physical product design</span>
            </dd>
          </div>
          <div class="col-12 align-items-center justify-content-end d-flex gap-2 py-4">
            <a class="primary button"
              href="https://drive.google.com/file/d/1hvCfuxz4p6QHvq2e-lDHM2jSt2reCB5b/view?usp=sharing"
              target="_blank">Viro 影片</a>
            <a class="primary button" href="https://www.behance.net/gallery/19004965/viro" target="_blank">Viro</a>
          </div>

        </div>

        <div class="row bg-white rounded p-md-5 mb-3">
          <div class="col-12">
            <h2 class="h4">Taiwan Sugar Corp</h2>
            <div>2012 - 2013</div>
          </div>
          <div class="overwrite-width col-md-8 offset-md-4">
            <p>台糖電商網站</p>
            <img class="img-fluid ioLazyload" data-lazy="/images/tsc.png" alt="Taiwan Sugar Corp">
            <dt>角色</dt>
            <dd>Graphic Designer</dd>
            <dt>範疇</dt>
            <dd><span class="tag px-3 py-1">Branding</span> / <span class="tag px-3 py-1">Marketing material</span>
            </dd>
          </div>
          <div class="col-12 align-items-center justify-content-end d-flex gap-2 py-4">
            <a class="primary button"
              href="https://www.behance.net/gallery/16106461/Taiwan-Sugar-Corporation-ego888comtw-Identity"
              target="_blank">Taiwan
              Sugar Corp</a>
          </div>

        </div>
      </article>
    </div>
  </div>

</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>