<main>
  <div class="video-container">
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.48/build/spline-viewer.js"></script>
    <spline-viewer hint loading-anim-type="spinner-small-light"
      url="https://prod.spline.design/V72IfyMUQZdkqpDx/scene.splinecode"></spline-viewer>
  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>