<main class="">
  <div class="video-container">
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.30/build/spline-viewer.js"></script>
    <spline-viewer hint loading-anim-type="spinner-small-light"
      url="https://prod.spline.design/V72IfyMUQZdkqpDx/scene.splinecode"></spline-viewer>
  </div>
  <div class="p-md-5 p-2 bg-white">
    <p class="my-0">訂閱我，我會寄故事給你 :P</p>
    <iframe src="https://wwwanyu.substack.com/embed" width="100%" frameborder="0" scrolling="no"></iframe>
  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>