<main class="container-fluid">
  <div class="mb-5">
    <%- partial("_partial/intro") %>
  </div>
  <hr>
  <div class="container-fluid ">
    <h3>我最近在做...</h3>
    <section class="my-5">
      <h4 class="mb-5">閱塗筆記</h4>
      <div id="readlers-group">
        <div id="readlers">
          <img class="ioLazyload" data-lazy="images/readler.png" alt="一個人物雙手拿著鉛筆表情很開心，雙腿交叉像在跳舞">
          <img class="ioLazyload" data-lazy="images/readler.png" alt="一個人物雙手拿著鉛筆表情很開心，雙腿交叉像在跳舞">
          <img class="ioLazyload" data-lazy="images/readler.png" alt="一個人物雙手拿著鉛筆表情很開心，雙腿交叉像在跳舞">
          <img class="ioLazyload" data-lazy="images/readler.png" alt="一個人物雙手拿著鉛筆表情很開心，雙腿交叉像在跳舞">
          <img class="ioLazyload" data-lazy="images/readler.png" alt="一個人物雙手拿著鉛筆表情很開心，雙腿交叉像在跳舞">
          <img class="ioLazyload" data-lazy="images/readler.png" alt="一個人物雙手拿著鉛筆表情很開心，雙腿交叉像在跳舞">
          <img class="ioLazyload" data-lazy="images/readler.png" alt="一個人物雙手拿著鉛筆表情很開心，雙腿交叉像在跳舞">
          <img class="ioLazyload" data-lazy="images/readler.png" alt="一個人物雙手拿著鉛筆表情很開心，雙腿交叉像在跳舞">
          <img class="ioLazyload" data-lazy="images/readler.png" alt="一個人物雙手拿著鉛筆表情很開心，雙腿交叉像在跳舞">
          <img class="ioLazyload" data-lazy="images/readler.png" alt="一個人物雙手拿著鉛筆表情很開心，雙腿交叉像在跳舞">
        </div>
      </div>
      <p>你也喜歡閱讀嗎？有空的話跟我一起塗鴉出你的閱讀心得吧！</p>
      <a title="閱讀塗鴉" href="/readle-note">更多</a>

    </section>
    <hr>
    <section class="row my-5">
      <h4>曬裝備</h4>
      <div class="my-4">
        <img class="img-fluid ioLazyload" data-lazy="images/smg-logo.svg" alt="曬裝備 logo">
      </div>
      <div class="col-12">
        <a class="external-link" href="https://showmygear.com" title="曬裝備">showmygear.com</a>
        <p>
          曬裝備是一個為了方便分享檢查所設計的高山裝備檢查表。
        </p>
      </div>
    </section>
    <hr>
    <section>
      <h4>未來山屋</h4>
      <p>一千年後的火星台灣人回來地球爬山的故事。</p>
      <div id="futurehut" class="position-relative overflow-hidden future-hut">
        <img class="img-fluid position-absolute front hut" style="z-index: -1; top: 0;"
          src="images/tongku-saveq-weather-station.png" alt="">
        <img class="img-fluid position-absolute front trees" style="z-index: -2; top: 0;"
          src="images/tongku-saveq-trees.png" alt="">
        <img class="img-fluid position-absolute front" style="z-index: -4; top: 0;"
          src="images/tongku-saveq-weather-mount-detail.png">
        <img class="img-fluid position-absolute front" style="z-index: -3; top: 0;"
          src="images/tongku-saveq-right-mount.png" alt="">
        <img class="img-fluid position-absolute back" style="z-index: -5; right: 0; opacity: 0.1;"
          src="images/tongku-saveq-faraway-mount.png" alt="">
      </div>
    </section>
    <hr>
    <section>
      <h4>紙杯</h4>
      <p>關於出發的小故事。</p>
      <a title="紙杯" href="/cup">更多</a>
      <div id="cave" class="position-relative overflow-hidden cave-cover">
        <img class="img-fluid position-absolute" src="images/cave-draft.png"
          alt="用簡單的線條畫的插圖，在兩座山頂上各有一個一紙杯，其中一個紙杯口旁站著一個人，這個人手扶著紙杯邊緣，這個人物的大小跟紙杯差不多，他看著遠方另外一座山頂上的紙杯。這兩個紙杯的底部都有線。">
      </div>
    </section>
    <hr>
    <section style="height: 40vh;">
      <h4>書單</h4>
      <ul class="list-group-horizontal-sm list-group">
        <li class="me-4">
          <cite>成為西蒙波娃</cite>
          <dl>
            <dt>作者</dt>
            <dd>Kate Kirkpatrick</dd>
            <dt>譯者</dt>
            <dd>張葳</dd>
          </dl>
        </li>
        <li class="me-4">
          <cite>設計的心理學</cite>
          <dl>
            <dt>作者</dt>
            <dd>Donald A. Norman</dd>
            <dt>譯者</dt>
            <dd>陳宜秀</dd>
          </dl>
        </li>
        <li class="me-4">
          <cite>民主的價碼<b>棄讀</b></cite>
          <dt>作者</dt>
          <dd>Julia Cagé</dd>
          <dt>譯者</dt>
          <dd>賴盈滿</dd>
        </li>
        <li class="me-4">
          <cite>銀翼殺手</cite>
          <dt>作者</dt>
          <dd>Philip K. Dick</dd>
          <dt>譯者</dt>
          <dd>祁怡瑋</dd>
        </li>
        <li class="me-4">
          <cite>一人公司</cite>
          <dt>作者</dt>
          <dd>Paul Jarvis</dd>
          <dt>譯者</dt>
          <dd>劉奕吟</dd>
        </li>
      </ul>
    </section>
  </div>
</main>
