<div class="container-fluid mb-sm-5 mb-2">
    <div class="row px-3">
        <div class="mx-auto col-xl-6 col-md-9 col-12 bg-white rounded-3 p-3 p-sm-5">
            <div class="row d-flex align-items-center">
                <div class="col-auto">
                    <img class="border rounded-circle ioLazyload" data-lazy="logo.png" alt="曬裝備 logo，一個躺著翹腳的綠色背包">
                </div>
                <div class="col">
                    <h1 class="h3 mb-0">曬裝備</h1>
                    <small class="text-muted">web app</small>
                </div>
                <div class="col-sm-12 col-md-auto text-end">
                    <a class="button primary" href="https://www.showmygear.com" target="_blank">showmygear.com</a>
                </div>
            </div>
            <hr>
            <p>方便分享的登山裝備檢查表，獨攀也可以貼給朋友檢查裝備，或是跟網路團也可以互相檢查。</p>
            <img class="ioLazyload img-fluid d-block mx-auto mb-3" data-lazy="card-empty.png" alt="檢查表">
            <img class="ioLazyload img-fluid d-block mx-auto mb-3" data-lazy="card-progress.png" alt="檢查表">
            <img class="ioLazyload img-fluid d-block mx-auto mb-3" data-lazy="hiker.png" alt="山友">
            <img class="ioLazyload img-fluid d-block mx-auto mb-3" data-lazy="icon.png" alt="裝備圖示">
            <img class="ioLazyload img-fluid d-block mx-auto mb-3" data-lazy="cone.png" alt="交通錐">
            <p>還在開發中。</p>
        </div>
    </div>
</div>
