<div class="container-fluid">
    <div class="row">
        <div class="mx-auto col-xl-6 col-md-9 col-12 bg-white rounded-3 p-3 p-sm-5">
            <div class="row d-flex align-items-center">
                <div class="col-sm-auto">
                    <img class="border rounded-circle ioLazyload" data-lazy="logo.png" alt="">
                </div>
                <div class="col-sm">
                    <h1 class="h3 mb-0">hellyes.cat</h1>
                    <small class="text-muted">website</small>
                </div>
                <div class="col-sm text-end">
                    <a class="button primary" href="https://hellyes.cat" target="_blank">hellyes.cat</a>
                </div>
            </div>
            <hr>
            <p>關於黑貓的傳說都是真的。</p>
            <img class="img-fluid ioLazyload d-block mx-auto mb-3 rounded-3 mt-3" data-lazy="logotype.png" alt="hellyes.cat">
            <p>邪惡到模糊</p>
            <img class="img-fluid ioLazyload d-block mx-auto mb-3 rounded-3" data-lazy="too-evil-to-blur.png" alt="hellyes.cat">
            <p>畜生道工作人員</p>
            <img class="img-fluid ioLazyload d-block mx-auto mb-3 rounded-3" data-lazy="hell-staff-only.png" alt="畜生道工作人員">
            <img class="img-fluid ioLazyload d-block mx-auto mb-3 rounded-3" data-lazy="icons.png" alt="hellyes.cat">
            <img class="img-fluid ioLazyload d-block mx-auto mb-3 rounded-3" data-lazy="frame.png" alt="hellyes.cat">            
            <div class="ratio ratio-16x9 mb-3">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/fix75THAzcs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p>讓我們一起開啟地獄大門！</p>
        </div>
    </div>
</div>
<%- partial('_partial/content-footer')%>
