<div class="container-fluid">
    <div class="row">
        <div class="mx-auto col-xl-6 col-md-9 col-12 bg-white rounded-3 p-3 p-sm-5">
            <div class="row d-flex align-items-center">
                <div class="col-sm-auto">
                    <img class="border rounded-circle ioLazyload" data-lazy="logo.png" alt="">
                </div>
                <div class="col-sm">
                    <h1 class="h3 mb-0">ruoshin.wang</h1>
                    <small class="text-muted">web fun.0</small>
                </div>
                <div class="col-sm text-end">
                    <a class="button primary" href="https://ruoshin.wang" target="_blank">ruoshin.wang</a>
                </div>
            </div>
            <hr>
            <p>功能圓滿一開始只是一張沒有目地的塗鴉，抒發「開發一個 web app 要涵蓋的範圍真是廣大啊～」的微妙心情，開發完一個又一個功能都很值得默念功能圓滿啊。</p>
            <p>Ruoshin 主動說想用在他的網站上，讓我感受到喜歡塗鴉的幸福！</p>
            <img class="img-fluid ioLazyload d-block mx-auto mb-3" data-lazy="functionalife-2.jpg" alt="功能圓滿">
            <p>為了更好玩，我把功能圓滿做成 3D。</p>
            <iframe src='https://my.spline.design/functionlofe22loadingrotate-13f70dbfcc66493cdfc5fbe97a9adc51/' frameborder='0' width='100%' height='350px'></iframe>
            <p>目前我們卡在<code>WebpackError: ReferenceError: navigator is not defined</code>導致無法把 3D 紙蓮花放上去 🌚</p>
            <img class="img-fluid rounded-3 ioLazyload" data-lazy="figma.png" alt="ruoshing.wang in figma">
            <p><a href="https://github.com/ruoshin/ruoshin.github.io">repos on github</a></p>
        </div>
    </div>
</div>
<%- partial('_partial/content-footer')%>
