<div class="container-fluid">
    <div class="row px-3">
        <div class="mx-auto col-xl-6 col-md-9 col-12 bg-white rounded-3 p-3 p-sm-5">
            <div class="row d-flex align-items-center">
                <div class="col-auto">
                    <img class="border rounded-circle ioLazyload" data-lazy="logo.png" alt="">
                </div>
                <div class="col">
                    <h1 class="h3 mb-0">虎尾寮之聲</h1>
                    <small class="text-muted">website</small>
                </div>
                <div class="col-sm text-end">
                    <a class="button primary" href="https://hobeliau.tumblr.com" target="_blank">hobeliau.tumblr.com</a>
                </div>
            </div>
            <hr>
            <p>台南是我住過最久的一個地方。有時候我覺得在台南的生活不像葉石濤說的那麼爽，風車詩社描寫的台南啟發我，開始欣賞這個城市荒涼的那面，我只是想要分享我看到的台南。</p>
            <p>7年前冒出這個念頭的時候我卻剛好要去台北工作，常常在台北的瑣碎時光會想起這個自爽的網站計畫，我很迷惘不知道要放棄還是繼續！</p>
            <img class="img-fluid ioLazyload d-block mx-auto mb-3" data-lazy="tumblr.png" alt="虎尾寮之聲">
            <p>在此過問您的收入、愛情與飲食，討厭的台南市民敬上。</p>
        </div>
    </div>
</div>
