<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto col-12 bg-white rounded-3 p-5">
            <div class="row d-flex align-items-center">
                <div class="col-sm-auto">
                    <img class="border rounded-circle ioLazyload" data-lazy="logo.png" alt="曬裝備 logo，一個躺著翹腳的綠色背包">
                </div>
                <div class="col-sm">
                    <h1 class="h3 mb-0">曬裝備</h1>
                    <small class="text-muted">web app</small>
                </div>
                <div class="col-sm text-end">
                    <a class="button primary" href="https://showmygear.com" target="_blank">showmygear.com</a>
                </div>
            </div>
            <hr>
            <p>方便分享的登山裝備檢查表，獨攀也可以貼給朋友檢查裝備，或是跟網路團也可以互相檢查。</p>
            <img class="ioLazyload d-block mx-auto mb-3" data-lazy="card-empty.png" alt="">
            <img class="ioLazyload d-block mx-auto mb-3" data-lazy="card-progress.png" alt="">
            <img class="ioLazyload d-block mx-auto mb-3" data-lazy="cone.png" alt="">
        </div>
    </div>
</div>
<%- partial('_partial/content-footer')%>
  