<div class="container-fluid">
    <div class="row">
        <div class="mx-auto col-xl-6 col-md-9 col-12 bg-white rounded-3 p-3 p-sm-5">
            <h1>shop</h1>
            <h2 class="h5 txt-primary">搞砸本本 wwwanyu 手繪封面版</h2>
            <img class="img-fluid ioLazyload" data-lazy="/images/screw-up-notebook-dark-cover.png" alt="搞砸本本">
            <p>使用這個本本的規則是帶著搞砸的心，搞砸本本不是為了讓你畫得很完美而存在的，你只能在這裡畫下史上最醜的塗鴉或寫下最愚蠢的點子，不管怎麼樣就是不要在這裡完美。</p>
            <p>A5 / 80 頁 / NT$ 400</p>
            <a href="https://www.ruten.com.tw/item/show?22222230953271" target="_blank" class="button primary">購買</a>
            <small>我手繪封面的筆記本，圖案隨機。</small>
            <hr>
            <h2 class="h5 txt-primary">搞砸本本交流時光</h2>
            <img class="img-fluid ioLazyload" data-lazy="/images/screw-up-time.png" alt="搞砸本本賞析時光">
            <p>讓我跟你一起欣賞你的搞砸本本。</p>
            <p>1 小時 / NT$ 400</p>
            <a href="https://www.ruten.com.tw/item/show?22221194842793" target="_blank" class="button primary">購買</a>
            <hr>
            <h2 class="h5 txt-primary">搞砸本本免費版</h2>
            <p>其實你手邊現有的筆記本也可以自行指定為搞砸本本！這樣更好玩！</p>
            <p>NT$ 0</p>
        </div>
    </div>
</div>
