<a itemprop="name" href="<%- url_for(post.path) %>" itemprop="url">
  <div class="archive-post px-sm-3 px-3 px-sm-2 pt-4 py-2">
    <h1 class="text-title">
      <%= post.title %>
    </h1>
    <div class="text-right text-muted">
      <%- partial('post/date', {date_format: 'MMM D' }) %>
    </div>
    <blockquote class="text-dark">
      <%- post.excerpt %>
    </blockquote>
  </div>
</a>
