<a itemprop="name" href="<%- url_for(post.path) %>" itemprop="url">
  <h1 class="text-title">
    <%= post.title %>
  </h1>
  <%- partial('post/date', {date_format: 'MMM D' }) %>
    <blockquote>
      <%- post.excerpt %>
    </blockquote>
</a>
