<div class="text-end">
  <%- partial('post/date', {date_format: 'MMM Do' }) %>
</div>
<h2 class="py-3">
  <a href="<%- url_for(post.path) %>" itemprop="url">
    <%= post.title %>
  </a>
</h2>
<%- post.excerpt %>
<hr>
