<div class="d-flex">
  <h3>
    <%- partial('post/title')%>
  </h3>
  <span class="ml-3 text-muted">
    <%- partial('post/date', {date_format: 'MMM D' }) %>
  </span>
</div>
<blockquote>
  <%- post.excerpt %>
</blockquote>
