<div class="col-12 col-md-3 bg-white">
  <a class="d-flex flex-column align-items-stretch h-100 p-sm-3 p-5" href="<%- url_for(post.path) %>" itemprop="url">
    <div class="text-end">
      <%- partial('post/date', {date_format: 'MMM Do, YYYY' }) %>
    </div>
    <h2 class="py-3">
      <%= post.title %>
    </h2>
    <%- post.excerpt %>
  </a>
</div>